@charset "utf-8";

@import "base";

$overflow:hidden;
$fontFamily:"微软雅黑";
$fontSize:15px;

/*!
*about/newslist
*/

.con_ny_common{
	height:auto;
	overflow:$overflow;
}

.con_ny {
	@extend .con_ny_common;
    width:1000px;
    margin:auto;
    padding-bottom:10px;

    .danye{
		@extend .con_ny_common;
	    width:1000px;
	    clear:both;
	    padding-top:20px;

	    .danye_left {
			@extend .con_ny_common;
		    width:207px;
		    border:1px solid #e4e4e4;
		    padding-bottom:10px;
		    border-top:1px solid #98b205;
		    float:left;
		}
		.danye_right {
			@extend .con_ny_common;
		    width:768px;
		    float:right;
		    border:1px solid #e4e4e4;
		    padding-bottom:10px;
		    border-top:2px solid #98b205;

		    .danye_nr {
		    	@extend .con_ny_common;
			    width:700px;
			    line-height:24px;
			    font-family:$fontFamily;
			    padding-bottom:10px;
			    margin:auto;
			}

			ul {
				@extend .con_ny_common;
			    width:740px;
			    clear:both;
			    display:block;
			    margin:auto;

			    li {
				    width:740px;
				    height:35px;
				    line-height:35px;
				    border-bottom:1px dashed #cccccc;
				    background:url(../images/fk.png);
				    background-position:left;
				    background-repeat:no-repeat;
				    font-family:$fontFamily;
				}
			}
		}
	}

	.con_dqwz {
	    width:970px;
	    height:36px;
	    line-height:36px;
	    border-bottom:1px solid #acc90b;
	    background:url(../images/dq.jpg);
	    background-position:left;
	    background-repeat:no-repeat;
	    font-family:$fontFamily;
	    font-size:$fontSize;
	    color:#4b8400;
	    padding-left:30px;
	    margin-top:10px;

	    a {
		    color:#4b8400;

		    &:hover {
			    color:#64b322;
			}
		}
	}

	.tplist1 {
	    width:317px;
	    height:290px;
	    float:left;
	    border:1px solid #e6dcdc;
	    margin-top:20px;
	    margin-left:20px;
		position:relative;

	    .tplist1_1 {
		    width:296px;
		    height:185px;
		    margin:auto;
		    padding-top:10px;
		}

		.tplist_yy{
		    width:296px;
		    height:15px;
		    background:url(../images/chanpin_yy.jpg);
		    margin:auto;
		}

		.tplist_mc {
		    width:317px;
		    height:35px;
		    line-height:35px;
		    overflow:$overflow;
		    font-family:$fontFamily;
		    font-size:$fontSize;
		    text-align:center;
		}

		.tplist_mcjg{
		    width:317px;
		    height:44px;
		    line-height:44px;
		    background:#e8f7ca;
		    font-family:$fontFamily;
		    font-size:$fontSize;
		    text-align:center;
		}
	}
}

.big_area{
    /*大显示区域宽高可直接改变*/
    width: 200px;
    height: 200px;
    position: absolute;
    left: -10000px;
    top: -1px;
    border: solid 1px #000;
    overflow: hidden;
    margin-left: 120px;
    z-index: 1000;
}
.big_area img{
    position: absolute;
    left: 0;
    top: 0;
}
/*遮罩层*/
.mask{
    position: absolute;
    left: -10000px;
    top: 0;
    width: 100px;
    height: 100px;
    background: #000;
    opacity:0.65;
    filter:alpha(opacity=65);
}


.fy {
    width:100%;
    height:70px;
    clear:both;
    display:flex;
    justify-content:center;
    align-items:center;

    a{
	    text-align:center;
	    line-height:30px;
	    color:#5f635f;

	    &:hover{
	    	background:#eeeeee;
	    	color:#87e78e;
	    }

    	.lb{
			width:30px;
			height:30px;
			border:1px solid #dddddd;
		}
    }
}

.danye_left1 {
    width:197px;
    height:30px;
    line-height:30px;
    font-family:$fontFamily;
    font-size:$fontSize;
    padding-left:10px;
    border-bottom:1px solid #dddddd;
    font-weight:600;
}
.danye_left2 {
    width:165px;
    margin:auto;
    height:35px;
    line-height:35px;
    background: url(../images/sanjiao.jpg);
    background-repeat:no-repeat;
    background-position:left;
    font-family:$fontFamily;
    font-size:$fontSize;
    padding-left:15px;
    border-bottom:1px dashed #ddd;
}
.danye_dqbt {
    width:768px;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #ddd;
}
.jj_t {
    width:16px;
    height:15px;
    background:url(../images/dq.jpg);
    display:block;
    float:left;
    margin-top:7px;
    margin-left:15px;
    color:#4b8400;
}
.dq_dy {
    padding-left:15px;
    font-family:$fontFamily;
    color:#4b8400;
    font-size:13px;
    a {
	    color:#4b8400;

	    &:hover {
		    color:#64b322;
		}
	}
}

.danye_mcbt_common{
	height:40px;
	line-height:40px;
	margin:auto;
	font-family:$fontFamily;
	text-align:center;
}
.danye_mcbt {
	@extend .danye_mcbt_common;
    width:700px;
    clear:both;
    font-size:18px;
    color:#000;
    padding-top:10px;
}
.danye_mcdjl {
	@extend .danye_mcbt_common;
    width:720px;
    border:1px dashed #98b205;
    margin-top:10px;
    margin-bottom:10px;
}


/*!
*newslist
*/

.bqsh_list {
    float:left;
    padding-left:20px;
}
.lsit_sj {
    float:right;
}


/*!
*tplist
*/

.yuanjia {
    float:left;
    text-decoration:line-through;
    padding-left:15px;
}

.tejia {
    float:right;
    padding-right:15px;
    color:#F00;
    font-size:17px;
}
